<table>
    <thead>
        <tr>
            <th>Watch List Name</th>
            <th colspan="3"></th>
        </tr>
    </thead>

    <tbody>
        <% @watch_lists.each do |list| %>
        <tr>
            <td><%= link_to list.list_name, list %></td>
            <!-- <td><%= link_to "Edit", edit_watch_list_url(@watch_lists)%></td> -->
            <td><%= link_to "Delete", list, method: :delete, data: { confirm: "Are you sure?" } %></td>
        </tr>
        <% end %>
    </tbody>
</table>

<p> <%= link_to "Create a new watch list", new_watch_list_path %></p>